<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local-dotnet-sdk" value="D:\WORK\UnrealLink\build\riderRD-2020.3-SNAPSHOT\lib\DotNetSdkForRdPlugins" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>