<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local-dotnet-sdk" value="/Users/alexander.pirogov/.gradle/caches/modules-2/files-2.1/com.jetbrains.intellij.rider/riderRD/2020.3-SNAPSHOT/c3952bb44b1fada82d3c82f97b6aa9e58e010e48/riderRD-2020.3-SNAPSHOT/lib/DotNetSdkForRdPlugins" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>