name: build-riderlink

on:
  push:
    paths-ignore:
    - README.md
    branches: [ net202 ]
  pull_request:
    paths-ignore:
    - README.md
    branches: [ net202 ]

jobs:
  build:
    env:
      working-dir: ${{ github.workspace}}${{ matrix.config.SEP }}rd-cpp
      major-version: 2020.2
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
            name: "Windows Latest", artifact-prefix: "UnrealLink-",
            os: windows-latest,
            SEP: \
          }

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Build Plugin
      run: gradlew.bat buildPlugin -PproductVersion=${{ env.major-version }} -PBuildCounter=${{ github.run_number }} -PConfiguration=Release
      shell: cmd
    - name: Upload built plugin
      if: success()
      uses: actions/upload-artifact@v2
      with:
        path: output/**
        name: ${{ matrix.config.artifact-prefix }}${{ env.major-version }}.${{ github.run_number}}
